body {
  background-color: var(--gray);
  font-family: Satoshi Regular , serif;

  /* height: 100vh; */
  width: 100%;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.header > span {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 38px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.underline:hover {
  cursor: pointer;
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 95px;
  justify-content: space-evenly;
  margin: auto;
  width: 85%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 25%;
}

.nav-title {
  font-family: Integral CF Bold , Arial , sans-serif;
}

.nav-list > li {
  white-space: nowrap;
}

.nav-list > li:hover {
  cursor: pointer;
}

.select {
  background-color: inherit;
  font-family: Satoshi , serif;
  font-size: 16px;
}

.select:focus {
  outline: none;
}

.search-input {
  background-color: var(--light-gray);
  background-image: url('./assets/search-icon.svg');
  background-position: 3%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 62px;
  font-size: 16px;
  height: 50%;
  padding-left: 45px;
  width: 40%;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: black;
  font-family: Satoshi Regular , serif;
  opacity: 40%;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.main {
  margin-top: 133px;
  width: 100%;
}

.models-section {
  display: flex;
  height: 663px;
  justify-content: flex-end;
  width: 100%;
}

.section-texts {
  left: 0;
  position: absolute;
  width: 50%;
}

.models-title {
  font-family: Integral CF Bold , Arial , sans-serif;
  font-size: 64px;
  height: 192px;
  line-height: 64px;
  margin-left: 15%;
  margin-top: 100px;
  width: 577px;
}

.models-text {
  font-family: Satoshi Regular , serif;
  height: 33px;
  margin-left: 15%;
  margin-top: 30px;
  opacity: 60%;
  width: 545px;
}

.models-button {
  background-color: black;
  border-radius: 62px;
  color: white;
  font-family: Satoshi Medium , Times , serif;
  font-size: 16px;
  height: 52px;
  margin-left: 15%;
  margin-top: 30px;
  width: 210px;
}

.models-button:hover {
  cursor: pointer;
}

.marks-section {
  display: flex;
  height: 74px;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-top: 30px;
  width: 596;
}

.marks-section > hr {
  background-color: black;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 10%;
  width: 2px;
}

.mark-container > h1 {
  font-family: Satoshi Bold , Times , serif;
  font-size: 40px;
}

.mark-container > p {
  font-size: 16px;
  opacity: 60%;
}

.models-img {
  margin-right: 5%;
  right: 0;
}

.light-icon-1 {
  height: 104px;
  margin-right: 8%;
  margin-top: 80px;
  position: absolute;
  width: 104px;
}

.light-icon-2 {
  height: 56px;
  margin-right: 40%;
  margin-top: 300px;
  position: absolute;
  width: 104px;
}
