:root {

  --light-gray: #F0F0F0;

  --gray: #F2F0F1;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

@font-face {
  font-family: Integral CF Bold;
  src: url('./assets/integralcf-bold.otf');
}

@font-face {
  font-family: Satoshi Regular;
  src: url('./assets/satoshi-regular.otf');
}

@font-face {
  font-family: Satoshi Medium;
  src: url('./assets/satoshi-medium.otf');
}

@font-face {
  font-family: Satoshi Bold;
  src: url('./assets//satoshi-bold.otf');
}
